################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/bin
/source/obj
/acc_train
/model_file
*.cache
*.user
/packages
/ericmclachlan.Portfolio.Tests/obj
/ericmclachlan.Portfolio.Tests/bin
/.axoCover/runs
/WIP.playlist
/ericmclachlan.Portfolio.ConsoleApp/bin/Debug
/ericmclachlan.Portfolio.ConsoleApp/obj/Debug
/ericmclachlan.Portfolio.Core/bin/Debug
/ericmclachlan.Portfolio.Core/obj/Debug
