################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/bin
/source/obj
/acc_train
/model_file
*.cache
*.user
/packages
